@use "../abstracts/variables" as *;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  // border: 1px dashed #0011ff;
}
