@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  @include flex-column-center;
  background: $white;
}

#app {
  @include flex-column-center;
  gap: 50px;
  width: 100%;
}
