@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.collapse-container {
  @include flex-column-center;
  gap: 30px;
  min-height: 290px;
  width: 83.4%;

  @media (max-width: 856px) {
    width: 81.4%;
  }

  @media (max-width: 606px) {
    width: 100%;
  }
}

.collapse {
  width: 100%;
}

.collapse__top-bar {
  @include flex-center;
  justify-content: space-between;
  padding: 10px 1.5% 8px;
  background: $light-red;
  border-radius: 5px;

  @media (max-width: 856px) {
    padding: 10px 1.5% 10px;
    height: 52px;
  }

  @media (max-width: 606px) {
    padding: 10px 2.9%;
    height: 30px;
  }
}

.collapse__title {
  font-size: 1.33rem;
  color: $white;

  @media (max-width: 856px) {
    font-size: 1rem;
  }

  @media (max-width: 606px) {
    font-size: 0.72rem;
  }
}

.collapse__btn {
  @include flex-center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin-right: 0.5%;
  background: none;
  border: none;
  cursor: pointer;

  & i {
    font-size: 1.4rem;
    color: $white;
    transition: all 0.3s ease-in-out;

    @media (max-width: 606px) {
      font-size: 1rem;
    }
  }

  @media (max-width: 606px) {
    height: 30px;
    width: 30px;
  }
}

.collapse__icon--rotated {
  transform: rotate(180deg);
}

.collapse__text-container {
  padding: 16px 1.95% 20px 1.95%;
  background: rgba($light-gray, 0.45);
  border-radius: 5px 0;

  @media (max-width: 856px) {
    padding: 25px 4.8% 20px 3.4%;
  }

  @media (max-width: 606px) {
    padding: 13px 5.9% 19px 5.9%;
  }
}

.collapse__text {
  font-weight: 400;
  line-height: 1.43;
  color: $black;

  @media (max-width: 606px) {
    font-size: 0.66rem;
  }
}
