@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.collapse-container {
  @include flex-column-center;
  gap: 30px;
  min-height: 300px;
  width: 83.4%;
}

.collapse {
  width: 100%;
}

.collapse__top-bar {
  @include flex-center;
  justify-content: space-between;
  padding: 10px 1.5% 8px;
  background: $light-red;
  border-radius: 5px;
}

.collapse__title {
  font-size: 1.33rem;
  color: $white;
}

.collapse__btn {
  @include flex-center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin-right: 0.5%;
  background: none;
  border: none;
  cursor: pointer;

  & i {
    font-size: 1.4rem;
    color: $white;
    transition: all 0.3s ease-in-out;
  }
}

.collapse__icon--rotated {
  transform: rotate(180deg);
}

.collapse__text-container {
  padding: 16px 1.95% 20px 1.95%;
  background: rgba($light-gray, 0.45);
  border-radius: 5px 0;
}

.collapse__text {
  font-weight: 400;
  line-height: 1.43;
  color: $black;
}
