@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  @include flex-center;
  justify-content: center;
  height: 223px;
  width: 100%;
  margin-bottom: 43px;
  padding: 0 4.7%;
  background-size: cover;
  background-position: center;
  border-radius: 25px;

  &--box-shadowed {
    border: inset 1px solid $black;
    box-shadow: $box-shadow-primary;
  }

  &--inner-shadowed {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $linear-gradient-banner-primary;
      border-radius: inherit;
    }
  }

  @media (max-width: 606px) {
    height: 111px;
    margin-bottom: 22px;
    border-radius: 10px;
  }
}

.about .hero {
  margin-bottom: 38px;

  &--inner-shadowed {
    &::before {
      background: $linear-gradient-banner-secondary;
    }
  }
}

.hero__text {
  position: relative;
  font-size: 2.66rem;
  font-weight: 700;
  color: $white;
  text-shadow: $text-shadow-primary, $box-shadow-primary;
  z-index: 1;

  @media (max-width: 606px) {
    font-size: 1.33rem;
    line-height: 1;
  }
}
