@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#app .homepage {
  @include flex-column-center;
  gap: 50px;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    gap: 27px;
  }
}

.body {
  @include flex-column-center;
  position: relative;
  width: 100%;
  padding: 0 6.9%;

  @media (max-width: $breakpoint-mobile) {
    padding: 0 5.3%;
  }
}
