@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.homepage {
  @include flex-column-center;
  gap: 50px;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    gap: 38px;
  }

  @media (max-width: $breakpoint-mobile) {
    gap: 27px;
  }
}
