@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.body {
  @include flex-column-center;
  width: 100%;
  padding: 0 6.9%;

  @media (max-width: 606px) {
    padding: 0 5.3%;
  }
}
