@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  @include flex-column-center;
  width: 100%;
  padding: 66px 0 29px;
  background: $black;

  @media (max-width: $breakpoint-mobile) {
    padding: 66px 0 58px;
  }
}

.footer__logo img {
  height: 40px;
  margin-bottom: 28.5px;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 15px;
  }
}

.footer__copyright {
  font-size: 1.33rem;
  font-weight: 400;
  color: $white;

  @media (max-width: $breakpoint-mobile) {
    width: 30%;
    font-size: 0.66rem;
    text-align: center;
  }
}
