@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
  padding: 0 6.9%;
}

.header__logo {
  height: 68px;
}

.header__nav-list {
  @include flex-center;
  gap: 57px;
}

.header__nav-link {
  font-size: 1.33rem;

  &--active {
    text-decoration: underline;
  }
}
