// Font family
$font-family-primary: "Montserrat", sans-serif;

// Color
$white: #ffffff;
$black: #000000;

// Box-shadow
$box-shadow-primary: 0 4px 4px rgba($black, 0.25);

// Linear-gradient
$linear-gradient-black: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
