@use "../abstracts/variables" as *;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
}

#root {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  // border: 1px dashed #0011ff;
}

.section-placeholder {
  width: 100%;
  height: calc(100vh - 411px);
  background: #eeeeee;
  border-radius: 20px;
}
